@media only screen and (max-width : 1600px) {
.header{width: 320px;}
.content-wrapper{width: calc(100% - 320px);
                 margin-left: 320px;}
.menu__item_production img{width: 66px; top: 14px;}
.menu__item_production:after{top: 20px;}
.logo__holder:after{font-size: 18.6px; bottom: -8px;}
.menu__item{font-size: 16px; padding: 16px;}
.write__phone{font-size: 24px;}
.footer-copiright, .footer-contacts{font-size: 14px;}
.footer-social__img{width: 24px;}

/*main*/
.three-quarters, .quarter{height: 500px;}
.three-quarters-half{height: 250px;}
.drager-products__title{font-size: 30px;}
.drager-products__detail, .drager-products__tagline{font-size: 24px;}
.drager-products__detail-link{font-size: 14px;}
.drager-products__logo{width: 240px;}
.lab-verif__title, .services__title, .mapblock__title, .news__title, .sensors__title, .devices__title, .about__title{font-size: 20px;}
.quarter-half__text{font-size: 16px;}
.sensors__title span:after, .devices__title span:after, .about__title span:after,.mapblock__title:after, .lab-verif__title:after{font-size: 17px;}
.lab-verif__image img, .services__image img,.mapblock .mapblock__image img,.news__image img{width: 40px;}
.mapblock span{margin-bottom: 12px; line-height: 24px;}
.just-mail-img{height: 60px;width: 60px;}
.just-mail-img.opened{right: 450px;}
#just-mail{width: 450px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (min-width : 320px) {

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

   
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}