$green : #33a249;
$black : #1b1b19;
$white: #FCFCFC;
$grey: #F5F5F5;
%upper-text
  font-family: 'Oswald', sans-serif
  font-weight: bold
  text-decoration: none
  text-transform: uppercase
%low-text
  font-family: 'GothamProLight', sans-serif
  font-weight: bold
  text-decoration: none
  text-transform: none
body
  width: 100%
  margin: 0
  overflow-x: hidden
  font-size: 0px
  @extend %upper-text

//preloader
.preloader
  display: flex
  align-items: center
  justify-content: center 
  background: #00FFBE
  font-size: 50px
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 100
  color: $white


//header  
.header
  position: fixed
  display: flex
  z-index: 99
  justify-content: space-between
  top: 0
  left: 0
  right: 0
  font-size: 22px
  padding: 10px 60px 
  box-sizing: border-box
  background: rgba(255,255,255, 0.75)
.logo-holder
  display: inline-flex  
  align-items: center
.logo-holder__image
  width: 70px
  height: 70px  
  display: inherit
.logo-holder__tagline  
  color: $green
  padding: 0 10px
  text-align: center
.navigation
  display: inline-flex
  align-items: center
  justify-content: flex-end
.navigation__mobile-top
  display: none
.navigation__link
  color: $black 
  text-decoration: none
  padding: 6px 0px
  margin: 4px 10px
  box-sizing: padding-box
  border-bottom: 2px solid transparent
  transition: 0.4s
  &:hover
    border-bottom: 2px solid $black
.btn 
  padding: 6px 0 6px 0 
  transition: 0.2s
  display: inline-block
  &:hover 
    padding: 12px 0 0px 0
    transition: 0.2s
.btn__try 
  color: $white
  background: $green
  padding: 10px 20px
  transition: 0.2s
  box-sizing: border-box
  font-size: 22px
  text-decoration: none
  &:hover
    background: $black
.header__burger
  display: none
  align-items: center 
  font-size: 30px
  color: $white
  cursor: pointer


//section intro
.intro  
  font-size: 50px
  width: 100vw
  background: url('../img/home.jpg')
  background-size: cover
  background-position: center
  padding: 90px 10% 30px 10%
  box-sizing: border-box
  text-align: center
.intro__title
  font-size: 1em
  color: $white
  text-shadow: 1px 1px 4px black
  margin-bottom: 10px
.intro__title_green
  color: $green      
.intro__tagline
  margin-top: 0
  color: $white
  font-size: 0.6em
  letter-spacing: 1px
.intro__video
  display: block
  border: 2px solid $green
  margin: 40px auto
  width: 500px
  height: 281px


//section how
.how
  display: flex
  justify-content: center
  background: $black
  border-top: 2px solid $green
  border-bottom: 2px solid $green
  flex-wrap: wrap
.how__step 
  text-align: center
  flex-basis: 280px
  min-width: 280px
  margin: 10px 10px
  font-size: 40px
.how__step-img
  width: 70px
  height: 70px  
.how__step-title
  color: $green
  margin: 0
  font-size: 1em
  letter-spacing: 1px
.how__step-descr
  @extend %low-text
  color: $white  
  font-size: 0.5em

//section choose
.choose 
  font-size: 26px
  text-rendering: optimizeLegibility 
.choose__title
  font-size: 2em
  margin: 10px
  display: flex
  align-items: center
  justify-content: space-around
  .choose__title-arrow
    margin: auto
.choose__title_green
  color: $green

.systems
  background: url('../img/gray-texture.jpg')
  background-size: cover
.kits
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: center
  padding: 20px 3%
.kits__img 
  max-width: 90vw  
.kits__wrapper
  display: flex
  align-items: center 
  position: relative 
  opacity: 0.4
  max-width: 90vw 
  transition: 0.2s
.kits__inc
  @extend %low-text
  font-size: 0.8em
  width: 140px
  position: absolute
  top: -40%
  left: 45%  
  text-align: center
.kits__plus
  width: 80px
  height: 80px
  background: url('../img/sprite_plus.png') right 0px bottom 0px
  margin: 20px  

.levels
  display: flex 
  flex-wrap: wrap
  justify-content: space-around
  padding: 20px 10%
.level
  width: 280px
  flex-basis: 280px
  margin: 10px
  background: $white
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-bottom: 20px
.level__title
  background: $black
  font-size: 1em 
  color: $white
  text-align: center
  padding: 10px 0
  width: 100%
.level__includes-item
  font-family: "Helvetica", sans-serif
  font-weight: 200
  font-size: 14px
  position: relative
  list-style-type: none
  margin: 10px 0
  &:before
    content: ""
    position: absolute
    display: block
    border-color: transparent #33a249
    border-style: solid
    border-width: 7px 0 7px 10px
    height: 0
    width: 0
    left: -20px
    top: 50%
    transform: translateY(-50%) 
  a 
    text-decoration: none
    color: $black
    &:hover
      text-decoration: underline 
.level__includes-item_green
  a 
    color: $green
    font-weight: bold       
.level__options  
  text-align: center 
.level__demo
  @extend %low-text
  display: block
  font-weight: bold
  color: $green
  font-size: 0.7em
  margin-bottom: 10px
  &:hover
    text-decoration: underline
.level__buy
  display: block   
  background: $green
  text-decoration: none
  color: $white
  width: 60%
  margin: auto
  border: 2px solid $green
  transition: 0.4s
  padding: 10px 8px
  &:hover
    background: $white
    color: $green
    transition: 0.4s

//three steps
.three-steps
  font-size: 40px
  background: $grey
  padding: 20px 10%
.three-steps__title
  font-size: 1em
  text-align: center    
  margin-top: 0  

.faq-list__question
  color: $green
  font-size: 0.4em
  cursor: pointer
  border-bottom: 1px solid #CACACA
  padding: 10px 0
  .fa-plus,.fa-minus
    margin-right: 10px
      
.faq-list__answer
  display: none
  align-items: center
  justify-content: center
  font-size: 0.4em
  font-weight: 100
  font-family: "Helvetica", sans-serif  
  color: $black
  padding: 10px 0
  border-bottom: 1px solid #CACACA
.faq-list__img 
  margin-right: 10%
  display: inline-block
.faq-list__answer-text
  display: inline-block
  line-height: 1.6em
  text-transform: none
  max-width: 600px
  a 
    color: $black

//section related
.related
  position: relative
  font-size: 18px
  border-top: 2px solid $green
  border-bottom: 2px solid $green
  overflow-x: hidden
.related__title
  margin-top: 10px
  font-size: 2em
  text-align: center
  position: absolute
  top: 0
  z-index: 2
  color: $white
  width: 100%  
.related-slide
  display: flex  
  justify-content: flex-end
  align-items: center
  min-height: 400px
.related-slide__img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: cover
  z-index: 1
.related-slide__mask
  display: none
  position: absolute
  top: 0
  left: 0
  background: rgba(0,0,0,0.8)
  height: 100%
  width: 100%
  z-index: 2  
.related-slide__descr
  z-index: 99
  position: relative
  width: 50%
  display: flex
  flex-direction: column
  h2
    @extend %low-text
    color: $green
    font-size: 1.4em
  p 
    @extend %low-text
    font-size: 1em
    color: $white  
  a 
    color: $white
    font-size: 1.3em
    text-decoration: none
    align-self: center
    color: $green
    &:hover
      text-decoration: underline
      




.owl-carousel 
  .owl-dots
    text-align: center
    z-index: 2
    position: absolute
    bottom: 20px
    width: 100%
  .owl-dot
    height: 8px
    width:  8px
    background: #3B3E3A
    border-radius: 50%
    display: inline-block
    position: relative
    margin: 0 6px
    transition: 0.5s
    &.active
      background: $green
      transition: 0.5s  


//section FAQ
.frequently-ask
  font-size: 40px
  background: $grey
  padding: 20px 10%
  .faq-list__answer
    justify-content: flex-start
    padding-left: 20px
.frequently-ask__title
  font-size: 1em
  text-align: center    


//section last-chance
.last-chance
  font-size: 40px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background: url('../img/dark-background.jpg') 
  background-size: cover 
  padding: 30px
.last-chance__title
  font-size: 1em
  margin-top: 0
  margin-bottom: 20px
  text-align: center
  color: $white

.footer
  background: $white
  font-size: 18px
  padding: 40px 10%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
.footer-links
  margin: 0
  padding: 0
.footer-links__link
  font-family: "GothamProLight"
  font-size: 1em
  list-style-type: none
  line-height: 2em
  a 
    color: $black
    text-decoration: none
    &:hover
      text-decoration: underline

.footer__subscribe
  display: flex
  flex-direction: column    
  align-items: flex-end
  width: 280px
.subscribe__text
  margin: 10px  0  
  background: #F5F5F5
  padding: 10px 5px
  box-sizing: border-box
  outline: none
  width: 100%
  @extend %upper-text
.social-media
  display: flex
  justify-content: center
  font-size: 2.6em
  width: 100%  
  i 
    margin: 10px
.footer__cr
  width: 100%
  text-align: center
  font-size: 0.6em
  opacity: 0.7
  margin-top: 20px    