body {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.how__step-descr, .kits__inc {
  font-family: 'GothamProLight', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 0px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 22px;
  padding: 10px 60px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.75);
}

.logo-holder {
  display: inline-flex;
  align-items: center;
}

.logo-holder__image {
  width: 70px;
  height: 70px;
}

.logo-holder__tagline {
  color: #33a249;
  padding: 0 10px;
  text-align: center;
}

.navigation {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__mobile-top {
  display: none;
}

.navigation__link {
  color: #1b1b19;
  text-decoration: none;
  padding: 6px 0px;
  margin: 4px 10px;
  box-sizing: padding-box;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

.navigation__link:hover {
  border-bottom: 2px solid #1b1b19;
}

.btn {
  padding: 6px 0 6px 0;
  transition: 0.2s;
  display: inline-block;
}

.btn:hover {
  padding: 12px 0 0px 0;
  transition: 0.2s;
}

.btn__try {
  color: #fff;
  background: #33a249;
  padding: 10px 20px;
  transition: 0.2s;
  box-sizing: border-box;
  font-size: 22px;
  text-decoration: none;
}

.btn__try:hover {
  background: #1b1b19;
}

.header__burger {
  display: none;
  align-items: center;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.intro {
  font-size: 50px;
  width: 100vw;
  background: url("../img/home.jpg");
  background-size: cover;
  background-position: center;
  padding: 90px 10% 30px 10%;
  box-sizing: border-box;
  text-align: center;
}

.intro__title {
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 4px black;
  margin-bottom: 10px;
}

.intro__title_green {
  color: #33a249;
}

.intro__tagline {
  margin-top: 0;
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 1px;
}

.intro__video {
  display: block;
  border: 2px solid #33a249;
  margin: 40px auto;
  width: 500px;
  height: 281px;
}

.how {
  display: flex;
  justify-content: center;
  background: #1b1b19;
  border-top: 2px solid #33a249;
  border-bottom: 2px solid #33a249;
  flex-wrap: wrap;
}

.how__step {
  text-align: center;
  flex-basis: 280px;
  min-width: 280px;
  margin: 10px 10px;
  font-size: 40px;
}

.how__step-img {
  width: 70px;
  height: 70px;
}

.how__step-title {
  color: #33a249;
  margin: 0;
  font-size: 1em;
  letter-spacing: 1px;
}

.how__step-descr {
  color: #fff;
  font-size: 0.5em;
}

.choose {
  font-size: 50px;
}

.choose__title {
  font-size: 1em;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.choose__title .choose__title-arrow {
  margin: auto;
}

.choose__title_green {
  color: #33a249;
}

.levels {
  background: url("../img/gray-texture.jpg");
  background-size: cover;
}

.kits {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 3%;
}

.kits__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0.5;
}

.kits__wrapper:hover {
  opacity: 1;
}

.kits__wrapper:hover .kits__plus {
  background: url("../img/sprite_plus.png") left 0px bottom 0px;
}

.kits__inc {
  font-size: 20px;
  width: 140px;
  position: absolute;
  top: -40%;
  left: 45%;
  text-align: center;
}

.kits__plus {
  width: 80px;
  height: 80px;
  background: url("../img/sprite_plus.png") right 0px bottom 0px;
  margin: 20px;
}
