@media only screen and (max-width: 1240px) {
  .logo-holder__tagline {
    font-size: 0.7em;
  }
  .navigation__link {
    font-size: 0.7em;
  }
  .how {
    padding: 0 18%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1030px) {
  .header {
    background: #33a249;
  }
  .logo-holder__image {
    width: 50px;
    height: 50px;
  }
  .logo-holder__tagline {
    color: #fff;
  }
  .header__burger {
    display: flex;
  }
  .navigation {
    background: #404040;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100%;
    transition: 0.4s;
    align-items: center;
    justify-content: center;
  }
  .navigation_mobile-active {
    left: 0;
    transition: 0.4s;
  }
  .navigation__mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 60px;
    box-sizing: border-box;
    width: 100%;
    font-size: 30px;
    color: #fff;
  }
  .navigation__mobile-logo {
    width: 50px;
    height: 50px;
    display: inherit;
  }
  .navigation__mobile-close {
    cursor: pointer;
  }
  .navigation__link {
    color: #d5d9db;
    font-size: 22px;
    border: 2px solid transparent;
    width: 50%;
    text-align: center;
    transition: 0s;
  }
  .navigation__link:hover {
    border-bottom: 2px solid transparent;
    background: #33a249;
    color: #fff;
    transition: 0s;
  }
  .how {
    padding: 0 10%;
  }
  .kits__wrapper {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .intro__video {
    width: 80vw;
    height: 44vw;
  }
  .choose__title {
    font-size: 0.5em;
  }
  .faq-list__question {
    display: flex;
  }
  .faq-list__answer {
    flex-direction: column;
  }
  .faq-list__img {
    margin-right: 0;
    width: 40%;
  }
  .faq-list__answer-text {
    text-align: center;
  }
  .related-slide__descr {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 10px 10px;
  }
  .navigation__mobile-top {
    padding: 10px 10px;
  }
  .choose__title {
    font-size: 0.7em;
  }
  .related-slide {
    padding: 10%;
  }
  .related-slide__descr {
    width: 100%;
    align-items: center;
  }
  .related-slide__mask {
    display: block;
  }
  .last-chance__title {
    font-size: 0.7em;
  }
}
