@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666



a 
  &:hover, &:active, &:visited
    text-decoration: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
body 
  height: 100vh
  overflow-x: hidden
  font-family: $default-font
header
  padding: 20px 0
.logo
  padding-top: 13px
  width: 50%
  display: inline-block
  img 
    width: 100%
.tagline
  font-size: 18px
  font-family: $bold-font
  font-weight: bold
  line-height: 1
  display: inline-block
  margin-left: 10px
.contacts
  text-align: right
.top 
  .city
    font-size: 14px
    font-family: $bold-font
    font-weight: bold
    margin-right: 8px
  a  
    font-family: $extra-bold-font
    font-weight: bold
    font-size: 24px
    color: $black
    text-decoration: none

.bottom
  display: flex
  justify-content: flex-end
  align-items: flex-end
  span 
    font-family: $default-font
    font-size: 12px
.bottom-left
  font-size: 18px
  line-height: 18px
  font-family: $bold-font
  color: $grey
  a 
    color: $grey
    text-decoration: none
.bottom-right
  margin-left: 10px
  img
    width: 36px
    margin-left: 7px
    transition: 0.1s
    &:hover
      transform: scale(1.1)
      transition: 0.2s





.advantages
  li 
    font-size: 16px
    font-family: $light-font
    &:nth-child(1)
      list-style-type: none
      font-weight: bold
      font-family: $extra-bold-font

form 
  box-shadow: 0 0 40px rgba(0,0,0,0.3s)
  padding: 10px 30px 10px 30px
  box-sizing: border-box
  z-index: 99
  width: 452px
  display: inline-block
  vertical-align: bottom
  background-color: #fff
  position: absolute
  bottom: 100px
  right: 0px
  input
    display: block
    width: 100%
    border: none
    border-bottom: 1px solid $grey
    margin-bottom: 4px
    outline: none
    font-size: 15px
    color: $grey
    padding: 4px 36px
    background-repeat: no-repeat
    &:nth-child(2)
      background-image: url('../img/mail.svg')
      background-size: 18px 18px
      background-position: left
    &:nth-child(3)
      background-image: url('../img/link.svg')
      background-size: 18px 18px
      background-position: left
    &:nth-child(4)
      background-image: url('../img/phone-call.svg')
      background-size: 18px 18px
      background-position: left
    &.check
      width: 18px
      display: inline-block
      line-height: 14px
      cursor: pointer
      margin: 0px  10px 0 0
  p 
    font-family: $extra-bold-font
    font-size: 22px
    font-weight: bold
    line-height: 22px
  .button 
    background-color: $yellow
    display: inline-block
    font-size: 18px
    padding: 12px 30px
    border-radius: 30px
    font-weight: bold
    cursor: pointer
    margin-top: 16px
    color: #000
    border: none
    width: auto
    &:hover 
      background-color: #343434
      color: #fff
      transition: 0.3s
  span
    color: $grey
    line-height: 14px
    vertical-align: middle
    display: flex 
    align-items: center
  a 
    color: $grey!important
    text-decoration: underline
    outline: none!important
    border: none
    line-height: 14px
    &:hover
      color: $grey
      text-decoration: underline
    &:active
      color: $grey
.agr
  text-align: left
  margin-top: 15px
  label
    cursor: pointer
.license_ag
.form-wrapper
  background-color: #fff
  padding: 30px
  box-sizing: border-box
  height: 70vh
  position: relative
  &.thank
    height: auto
    h2
      margin: 0
  &:after
    content: '\f2d7'
    font-family: "Ionicons"
    position: absolute
    color: $grey
    font-size: 50px
    top: -70px 
    right: -40px
    cursor: pointer
  h2 
   font-size: 22px
  p 
    font-size: 13px
    color: $grey
#close
  position: absolute
  top: -55px
  right: -42px
  font-size: 40px
  color: #00a6fb
  cursor: pointer
.mfp-close-btn-in .mfp-close
  display: none
footer
  position: absolute
  bottom: 0
  width: 100%
  .container
    position: relative
.presentation
  display: inline-block
  .book 
    width: 240px
  p 
    font-size: 15px
    line-height: 18px
    font-weight: bold
#thank_you
  p 
    font-size: 18px
.pres-descr
  width: 49%
  display: inline-block
  vertical-align: bottom
.social
  padding: 20px 0
  color: $grey
  display: flex
  font-family: $light-font
  position: absolute
  bottom: 0
  right: 0
  &.popup
    position: relative
  .img_soc
    margin-left: 10px
    display: inline-block
    line-height: 28px
    width: 28px
    height: 28px
    &.vk
      background-image: url('../img/vk_spr.png')
    &.inst
      background-image: url('../img/inst_spr.png')
    &.fb
      background-image: url('../img/fb_spr.png')
    &:hover
      background-position: right

.composition
  max-width: 1460px
  margin: 0 auto
  position: relative
  overflow: hidden
  img 
    width: 100%
    position: absolute
.composition-text-smm
  min-height: 300px
  text-transform: uppercase
  display: flex
  flex-direction: column
  justify-content: center
  line-height: 1
  h2
    color: $yellow
    font-size: 67px
    margin: 18px 0
  h3 
    font-size: 40px
    margin: 10px 0
    color: #fff

  h4
    font-size: 26px
    color: $grey
    margin: 0 0 100px 0
    text-transform: none
    span 
      color: $yellow
  &.target
    h2
      color: #fd0590
    h4
      font-weight: 200 
      color: $black 
  &.social_move
    h2
      color: #000
      margin: 0
    h3 
     color: #4971d0
     font-family: $light-font
     font-weight: 200
    .icon-com
      img
        width: 50px
        position: relative
        margin-right: 10px
        left: 0
  &.context 
    h2
      color: #fff
    h3 
      img 
        width: 100px
        margin-left: 20px
        position: relative
        left: 0
    h4
      color: $black
      font-weight: 200
  &.content
    h2 
      color: $black
      font-size: 40px
      margin: 0
    h3
      color: #003fff
    h4
      color: $grey
      font-weight: 200
  &.сeo_move
    h2 
      color: $black
      span
        color: #018bcd
        margin-left: 10px
    h3
      color: $black
      span 
        color: $grey
        font-size: 26px
        text-transform: none
        font-weight: 200
        margin-left: 10px


@import "media" // Всегда в конце
