@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666



a 
  &:hover, &:active, &:visited
    text-decoration: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
body 
  height: 100vh
  overflow-x: hidden
header
  padding: 20px 0
.logo
  padding-top: 13px
  img 
    width: 100%
.tagline
  font-size: 18px
  font-family: $bold-font
  font-weight: bold
  line-height: 1
.contacts
  text-align: right
.top 
  .city
    font-size: 14px
    font-family: $bold-font
    font-weight: bold
    margin-right: 8px
  a  
    font-family: $extra-bold-font
    font-weight: bold
    font-size: 24px
    color: $black
    text-decoration: none

.bottom
  display: flex
  justify-content: flex-end
  align-items: flex-end
  span 
    font-family: $default-font
    font-size: 12px
.bottom-left
  font-size: 18px
  line-height: 18px
  font-family: $bold-font
  color: $grey
  a 
    color: $grey
    text-decoration: none
.bottom-right
  margin-left: 10px
  img
    width: 36px
    margin-left: 7px
  i 
    font-size: 20px





.advantages
  li 
    font-size: 16px
    font-family: $light-font
    &:nth-child(1)
      list-style-type: none
      font-weight: bold
      font-family: $extra-bold-font

form 
  box-shadow: 0 0 40px rgba(0,0,0,0.3s)
  padding: 30px 
  box-sizing: border-box
  z-index: 99
  width: 452px
  display: inline-block
  vertical-align: bottom
  background-color: #fff
  position: absolute
  bottom: 100px
  right: 0px
  input
    display: block
    width: 100%
    border: none
    border-bottom: 1px solid $grey
    margin-bottom: 18px
    outline: none
    font-size: 15px
    color: $grey
    padding: 4px 36px
    background-repeat: no-repeat
    &:nth-child(2)
      background-image: url('../img/link.svg')
      background-size: 18px 18px
      background-position: left
    &:nth-child(3)
      background-image: url('../img/phone-call.svg')
      background-size: 18px 18px
      background-position: left
    &.check
      width: 14px
      display: inline-block
      line-height: 14px
      cursor: pointer
      margin: 16px  0 0 0
  p 
    font-family: $extra-bold-font
    font-size: 22px
    font-weight: bold
    line-height: 22px
  .button 
    background-color: $yellow
    display: inline-block
    font-size: 18px
    padding: 12px 30px
    border-radius: 30px
    font-weight: bold
    cursor: pointer
    margin-top: 16px
    color: #000
    border: none
    width: 230px
  span
    color: $grey
    line-height: 14px
  a 
    color: $grey!important
    text-decoration: underline
    outline: none!important
    border: none
    line-height: 14px
    &:hover
      color: $grey
      text-decoration: underline
    &:active
      color: $grey
.license_ag
.form-wrapper
  background-color: #fff
  padding: 30px
  box-sizing: border-box
  height: 70vh
  position: relative
  &.thank
    height: 30vh
    h2
      margin: 0
  &:after
    content: '\f2d7'
    font-family: "Ionicons"
    position: absolute
    color: $grey
    font-size: 50px
    top: -70px 
    right: -40px
    cursor: pointer
  h2 
   font-size: 22px
  p 
    font-size: 13px
    color: $grey
#close
  position: absolute
  top: -55px
  right: -42px
  font-size: 40px
  color: #00a6fb
  cursor: pointer
.mfp-close-btn-in .mfp-close
  display: none
footer
  position: absolute
  bottom: 0
  width: 100%
  .container
    position: relative
.presentation
  display: inline-block
  .book 
    width: 240px
  p 
    font-size: 15px
    line-height: 18px
    font-weight: bold
.pres-descr
  width: 49%
  display: inline-block
  vertical-align: bottom
.social
  padding: 20px 0
  color: $grey
  font-family: $light-font
  position: absolute
  bottom: 0
  right: 0
  img
    margin-left: 10px

.composition
  max-width: 1460px
  margin: 0 auto
  position: relative
  overflow: hidden
  img 
    width: 100%
    position: absolute
.composition-text-smm
  min-height: 300px
  text-transform: uppercase
  display: flex
  flex-direction: column
  justify-content: center
  line-height: 1
  h2
    color: $yellow
    font-size: 67px
    margin: 18px 0
  h3 
    font-size: 40px
    margin: 10px 0
    color: #fff

  h4
    font-size: 26px
    color: $grey
    margin: 0 0 100px 0
    text-transform: none
    span 
      color: $yellow


@import "media" // Всегда в конце
