@media only screen and (max-width : 600px) {
header .logo_holder{width: 16%;}
header .learn_get a{padding: 6px 6px; margin: 6px;}

.promo__first-part img.logo{width: 36px; height: 36px;}
.promo__first-part h4{margin-top: 14px;}
.promo__first-part {padding: 20px 0 0 0;}
.promo__first-part h1{font-size: 24px; width: 220px; margin: auto;}
.promo__first-part p{width: 220px; margin: auto; margin-bottom: 20px;}
.promo__first-part a{font-size: 14px;}
.promo__first-part img{height: 310px; width: 390px;}
.promo__set .contents-bar .li-box{width: 50%;}

.popup .img_holder img{width: 260px!important; height: 260px!important;}
.popup .img_holder{width: 100%; height: 50%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;}
.popup .descr{width: 100%; height: 50%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; text-align: center;}


.why{height: 50vh;}
.why__mission h1{font-size: 24px;}
.why__mission p{font-size: 14px; width: 50%}
.how{padding: 50px 0px 30px 0px;}
.how h1{font-size: 24px; padding-bottom: 50px;}
.how__list .item{width: 100%; margin-bottom: }
.questions h1{font-size: 24px;}
}

@media only screen and (max-width : 760px) {
 footer .top {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
 footer .top .social-media{width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
 footer .top .left{width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
 footer .top .left img{display: none;}
 footer .top .left .links{width: 100%; padding-left: 0; text-align: center;}
 footer .bottom .left{display: -webkit-box;display: -ms-flexbox;display: flex; width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto;}
 footer .bottom {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
 footer .bottom .right{width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 10px;}
}

@media only screen and (max-width : 480px) {
footer .top .left .links li a{font-size: 14px;}
footer .top{ padding: 16px 20px; }
footer .bottom .left{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
footer .bottom .left span{margin: auto;}
footer .bottom .left a{margin: auto; font-size: 18px; color: #fff;}
footer .top .left .links li{margin: 6px;}
footer .bottom{ padding: 16px 20px; }
}
